<h1><%= @artist.name %></h1>
<p><%= @artist.biography %></p>
<p>Genre: <%= @artist.genre %></p>

<h2>Songs</h2>
<% @artist.songs.each do |song| %>
  <p><%= link_to song.title, song %></p>
<% end %>

<p><%= link_to "Edit artist", edit_artist_path %></p>
